<canvas #canvas [hidden]="true"></canvas>

<video #video class="webcam-stream" autoplay playsinline></video>      

<!-- ############################# Overlay Emotion ############################# -->

<div [hidden]="hideOverlay" class="overlay">
  <div class="overlayTop">
    <p class="textSmall">{{emotionOverlay().topMessage}}</p>
    <img src="{{emotionOverlay().image}}" class="overlayImage">
    <p class="textLarge">{{emotionOverlay().middleMessage}}</p>
  </div>

  <div class="overlayBottom">
    <p class="textSmall">{{emotionOverlay().bottomMessage}}</p>
    <p class="textMedium">00:0{{countDownValue}}</p>
  </div>
</div>

<!-- ############################# Overlay Score ############################# -->

<div [hidden]="hideScore" class="overlay">

  <div class="overlayTop">
    <p class="textLarge">{{scoreOverlay().headline}}</p>
  </div>
  
  <div class="leftGauge">
    <p [hidden]="!scoreOverlay().playTwoIsWinner" class="textLarge">WINNER</p>
    <p [hidden]="!scoreOverlay().playTwoIsWinner" style="margin-bottom: 15vh;"><img src="/assets/images/trophy_large.png" style="height: 15vh;"></p>
    <p class="textMedium">{{scoreOverlay().playerTwo}}</p>
    <p class="textLarge">{{scoreOverlay().scorePlayerTwo}}</p>
  </div>

  <div class="rightGauge">
    <p [hidden]="!scoreOverlay().playOneIsWinner" class="textLarge">WINNER</p>
    <p [hidden]="!scoreOverlay().playOneIsWinner" style="margin-bottom: 15vh;"><img src="/assets/images/trophy_large.png" style="height: 15vh;"></p>
    <p class="textMedium">{{scoreOverlay().playerOne}}</p>
    <p class="textLarge">{{scoreOverlay().scorePlayerOne}}</p>
  </div>

  <div class="overlayBottom">
      <p class="textSmall">{{scoreOverlay().bottomMessage}}</p>
      <p class="textMedium">00:0{{countDownValue}}</p>
    </div>

</div>

<!-- ############################# Game ############################# -->

<div [hidden]="hideGame" class="webcam-stream">
  <div class="centerMessage textMedium">{{message()}}</div>

  <div class="verticalLine">&nbsp;</div>
      
  <div [ngClass]="{
    'animatedCenterCircle': runCircleFillAnimation,
    'centerCircle': !runCircleFillAnimation
  }">&nbsp;</div>
  
  <div class="centerCircleBorder">
      <img class="centeredEmoji" src="{{image()}}">
  </div>

  <div class="leftGauge" #leftContainer>

    <radial-gauge
      major-ticks="[0, 25, 50, 75, 100]"
      min-Value="0"
      max-Value="100"
      highlights='[ 
        {"from": 0, "to": 25, "color": "rgb(245, 168, 156)"},
        {"from": 25, "to": 50, "color": "rgb(240, 146, 136)"},
        {"from": 50, "to": 75, "color": "rgb(234, 127, 109)"},
        {"from": 75, "to": 100, "color": "rgb(223, 111, 92)"} 
      ]'
      color-plate="rgb(255, 255, 255)"
      width="500"
      height="500"
      value="{{rightGaugeValue()}}"></radial-gauge>

  </div>

  <div class="rightGauge">

    <radial-gauge
      major-ticks="[0, 25, 50, 75, 100]"
      min-Value="0"
      max-Value="100"
      highlights='[ 
        {"from": 0, "to": 25, "color": "rgb(245, 168, 156)"},
        {"from": 25, "to": 50, "color": "rgb(240, 146, 136)"},
        {"from": 50, "to": 75, "color": "rgb(234, 127, 109)"},
        {"from": 75, "to": 100, "color": "rgb(223, 111, 92)"} 
      ]'
      color-plate="rgb(255, 255, 255)"
      width="500"
      height="500"
      animationRule="linear"
      value="{{leftGaugeValue()}}"></radial-gauge>

    </div>

</div>