<div 
  [hidden] = "hideComponent"
  class="some-margin" 
  style="text-align:left; display:table; background-color:rgba(255, 255, 255, 0.5); border-style:solid; color:black; position:absolute;">

  <form [formGroup]="personData" >

    <div class="ml-auto" style="display: table-row; width: 100%;">
      <div style="display:table-cell; width:10em;">{{ 'components.persondata.label.name' | translate }}</div>
      <div style="display:table-cell;"><input type="text" formControlName="name"></div>
    </div>

    <div class="ml-auto" style="display: table-row;">
      <div style="display:table-cell;">{{ 'components.persondata.label.age' | translate }}</div>
      <div style="display:table-cell;"><input type="text" formControlName="age"></div>
    </div>

    <div class="ml-auto" style="display: table-row;">
      <div style="display:table-cell;">&nbsp;</div>
      <div style="display:table-cell;">
        <a (click)="onSubmit()" class="btn btn-outline-white ml-2">{{ 'components.persondata.button.register' | translate }}</a>
      </div>
    </div>

  </form>
</div>