<div class="container pt-2">
  <div class="row">

    <!-- Live Ansicht -->
    <div [hidden]="false" class="col-md-12 m-0 p-0 text-center">
      <div class="video-info text-center text-white">
        <div class="video-action-bar">
          <a href="#" title="switch video now" [hidden]="!areMultipleCamerasAvailable">
            <img alt="switch-video-button" class="d-inline-block mx-4" height="128" width="128" src="assets/images/baseline-switch_video-24px.svg">
          </a>
      </div>
      <video #video class="webcam-stream" autoplay playsinline></video>
     </div>
  </div>
  
    <!-- Photo Ansicht --> 
    <div [hidden]="true" class="col-md-12 m-0 p-0 text-center">
        <canvas #canvas class="result-canvas"></canvas>
    </div>


  </div>
</div>
