video.webcam-stream {
  margin: 0px; 
  padding: 0px; 
  border: 0px; 
  position: absolute;
  width: 100%;
  height: auto;
  transform: scaleX(-1);
}
  
.textSmall {
  text-align: center;
  color: #FFF;
  font-size: 2vh;
  line-height: 1.0;
}
  
.textMedium {
  text-align: center;
  color: #FFF;
  font-size: 4vh;
  line-height: 1.0;
}

.textLarge {
  text-align: center;
  color: #FFF;
  font-size: 6vh;
  line-height: 1.0;
}

.theDarkness {
  margin: 0px; 
  padding: 0px; 
  border: 0px; 
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:#383633;
}

/* ############################# Player Colors ############################# */

/* do not forget recognition.emotion.component.css */

.redText {
  color: rgba(223, 111, 92, 1);
}

.greenText {
  color: rgba(76, 154, 42, 1);
}
