<div class="theDarkness">

  <div class="box textSmall" style="left: 5vw">
    <br>CAMERA CONFIGURATION<br><br>
    select camera&nbsp;&rarr;&nbsp;
    <span *ngFor="let id of videoDeviceIds()">
      <a (click)="selectVideoDevice(id.index)"
        class="{{id.selected ? 'btn selected' : 'btn'}}">{{id.index + 1}}</a>&nbsp;
    </span>
    <br><br>
    <video #video autoplay playsinline style="height: 20vh; width: auto;"></video>


  </div>

  <div class="box textSmall" style="right: 5vw">
    <br>RC CAR CONFIGURATION <br><br>
    RC Car 1: <input size="30" [(ngModel)]="configurationState.rcCar1Uri"><br><br>
    RC Car 2: <input size="30" [(ngModel)]="configurationState.rcCar2Uri"><br><br>
    <a (click)="testRCCars()" class="btn">start test run</a><br><br>
    <a (click)="stopRCCars()" class="btn">stop all cars</a>
  </div>

  <div class="egal" style="bottom: 21vh;">
    <a routerLink="person" class="btn textSmall">back to person recognition</a>
  </div>

</div>