<div class="theDarkness">

  <div class="box textSmall" style="left: 3vw">
    <br>CAMERA CONFIGURATION<br><br>
    select camera&nbsp;&rarr;&nbsp;
    <span *ngFor="let id of videoDeviceIds()">
      <a (click)="selectVideoDevice(id.index)"
        class="{{id.selected ? 'btn selected' : 'btn'}}">{{id.index + 1}}</a>&nbsp;
    </span>
    <br><br>
    <video #video autoplay playsinline style="height: 20vh; width: auto;"></video>
  </div>

  <div class="box textSmall" style="left: 36vw">
    <br>OPERATING MODE<br><br>
    <p>choose an operating mode:</p>
    <p *ngFor="let id of operatingModes()">
      <a (click)="selectOperatingMode(id.value)"
        class="{{id.selected ? 'btn selected' : 'btn'}}">{{id.label}}</a>&nbsp;
    </p>
  </div>

  <div class="box textSmall" style="right: 3vw">
    <br>RC CAR CONFIGURATION<br><br>
    first car<br><input size="30" [(ngModel)]="configurationState.rcCar1Uri"><br><br><br>
    second car<br><input size="30" [(ngModel)]="configurationState.rcCar2Uri"><br><br><br>
    <a (click)="testRCCars()" class="btn">start test run</a>&nbsp;&nbsp;
    <a (click)="stopRCCars()" class="btn">stop all cars</a>
    
    <br><br><br>
    rc cars remote control:
    <span *ngFor="let id of carModes()">
      <a (click)="selectCarMode(id.value)"
        class="{{id.selected ? 'btn selected' : 'btn'}}">{{id.label}}</a>&nbsp;
    </span>
  </div>


  <div class="egal" style="bottom: 21vh;">
    <a routerLink="person" class="btn textSmall">back to person recognition</a>
  </div>

</div>