.floatLeft {
  float: left;
}

.whiteFont {
  color: #FFFFFF !important;
  font-size: 2vh;
}

.egal {
  position:absolute; 
  right: 20vw; 
  width: 60vw;
  text-align: center;
}

.btn {
  background-color: transparent;
  background-image: none;
  border-color: #FFFFFF;
}

.selected {
  background-color: deeppink !important;
}