<div class="theDarkness">

  <div class="centerMessage">
    <p class="textMedium highLine">How to play</p>
  </div>
    
  <div class="leftBox">
    <p>
      <img style="height: 10vh; width: auto;" src="assets/images/emoji_happy_large.png">&nbsp;&nbsp;&nbsp;&nbsp;
      <img style="height: 10vh; width: auto;" src="assets/images/emoji_angry_large.png">&nbsp;&nbsp;&nbsp;&nbsp;
      <img style="height: 10vh; width: auto;" src="assets/images/emoji_sad_large.png">
    </p>
    <p class="textMedium">Match the emotions!</p>
    <p class="textSmall">happy, angry, sad</p>
  </div>
  
  <div class="centerArrow">
      <img style="height: 5vh; width: auto;" src="assets/images/arrow_white_large.png">
  </div>

  <div class="rightBox" [hidden]="!hideTruck">
    <img style="height: 20vh; width: auto;" src="assets/images/trophy_large.png">
    <p class="textMedium">Beat your opponent!</p>
    <p class="textSmall">The stronger the emotion, the higher you score!</p>
  </div>

  <div class="rightBox" [hidden]="hideTruck">
    <p><img style="height: 20vh; width: auto;" src="assets/images/blue_forklift_large.png"></p>
    <p class="textMedium">Race to the finish!</p>
    <p class="textSmall">The stronger the emotion, the faster you go!</p>
  </div>

  <div class="bottom" [hidden]="hideCountDown">
    <p class="textSmall">Game starts in</p>
    <p class="textMedium">00:0{{countDownValue}}</p>
  </div>
    
  <div class="bottom" [hidden]="!hideCountDown">
    <p class="textSmall">press a button to continue</p>
  </div>
    
</div>