<div class="theDarkness">

  <div class="centerMessage">

    <p class="textMedium highLine">How to play</p><br><br>

    <p><img style="width: 30vw; height: auto;" src="/assets/images/placeholder_racetrack_large.png"></p><br><br>
    
    <p class="textSmall highLine">Match the shown emotion to move your truck.</p>

    <p class="textSmall highLine">Race to the finish!</p>
  
    <p class="textSmall highLine">The stronger the emotion, the faster you go!</p>

  </div>

  <div class="bottom" [hidden]="hideCountDown">
    <p class="textSmall">Game starts in</p>
    <p class="textMedium">00:0{{countDownValue}}</p>
  </div>

  <div class="bottom" [hidden]="!hideCountDown">
    <p class="textSmall">press a button to continue</p>
  </div>

</div>