.bottom {
  bottom: 15vh; 
  position: absolute; 
  width: 100%;
}

.highLine {
  line-height: 5vh;
}

.centerMessage {
  position: absolute;
  width: 80vw; 
  left: 10vw; 
  top: 5vh;
  text-align: center;
}
