<div class="theDarkness">

  <div class="centerMessage textMedium">How to play</div>

  <div class="left textMedium">
    Match the shown emotion<br><br>
    to move your truck.
  </div>
  
  <div class="right">
      <p class="textMedium">Race to the finish!</p>
      <p class="textSmall">The stronge the emotion, the faster you go!</p>
      <br><br>
      <img style="width: 30vw; height: auto;" src="/assets/images/placeholder_racetrack_large.png">
  </div>

  <div class="bottom">
    <p class="textSmall">Game starts in</p>
    <p class="textMedium">00:0{{countDownValue}}</p>
  </div>

</div>