  <canvas #canvasPerson [hidden]="true"></canvas>

  <video #videoPerson class="webcam-stream" autoplay playsinline></video>

  <div class="verticalLine">&nbsp;</div>
      
  <div class="centerCircleBorder">
      <img style="width: 15vw; height: auto;" src="/assets/images/game_logo_large.png">
  </div>

  <!-- ####################################################################################################### -->

  <div [hidden]="!playerTwo.isNoPlayerFound()" class="leftGauge textMedium">
    WAITING FOR PLAYER ONE
  </div>

  <div [hidden]="!playerTwo.isUnknownPlayerFound()" class="leftGauge textMedium">
    HEY THERE,<br>FIRST-TIMER!<br><br>
    <span class="ready">READY</span>
  </div>

  <div [hidden]="!playerTwo.isKnownPlayerFound()" class="leftGauge textMedium">
    WELCOME BACK!<br>
    <span class="redText">{{playerTwo.name}}</span><br>
    HIGHSCORE: {{playerTwo.score}}<br><br>
    <span class="ready">READY</span>
  </div>

  <!-- ####################################################################################################### -->

  <div [hidden]="!playerOne.isNoPlayerFound()" class="rightGauge textMedium">
    WAITING FOR PLAYER TWO
  </div>

  <div [hidden]="!playerOne.isUnknownPlayerFound()" class="rightGauge textMedium">
    HEY THERE,<br>FIRST-TIMER!<br><br>
    <span class="ready">READY</span>
  </div>
  
  <div [hidden]="!playerOne.isKnownPlayerFound()" class="rightGauge textMedium">
    WELCOME BACK!<br>
    <span class="greenText">{{playerOne.name}}</span><br>
    HIGHSCORE: {{playerOne.score}}<br><br>
    <span class="ready">READY</span>
  </div>
