<div [hidden]="false" style="top: 0px; left: 0px; margin: 0px; border: 0px; padding: 0px; position:absolute; width: 100%; height: 100%; background-color: black;">

  <div class="centerMessageTop">Training</div>
   
  <div [ngClass]="{
    'animatedCenterCircle': runCircleFillAnimation,
    'centerCircle': !runCircleFillAnimation
  }">&nbsp;</div>
  
  <div class="centerCircleBorder">&nbsp;</div>

  <div class="centerMessageBottom">
    Es wurden neue Spieler gefunden.<br><br>
    PINA prägt sich die neuen Spieler nun ein.
  </div>

</div>