.centerMessageTop {
  position: absolute;
  width: 14vw; 
  height: 2vw;
  left: 43vw; 
  top: 2vw;
  text-align: center;
  color: #FFF;
  font-size: 2vw;
  line-height: 1.0;
}

.centerMessageBottom {
  position: absolute;
  width: 80vw; 
  height: 14vh;
  left: 10vw; 
  bottom: 40vh;
  text-align: center;
}

.centeredEmoji {
  height: 4vw;
  margin-top: 5vw; 
  width: auto;
}

.centerCircle {
  position: absolute; 
}

.animatedCenterCircle {
  position: absolute; 
  background: rgba(255, 255, 255, 0.5);
  animation-name: animation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.centerCircleBorder {
  position: absolute; 
  border-radius: 28vw 28vw 28vw 28vw;
  width: 14vw; 
  height: 14vw;
  left: 43vw; 
  top: 5vw;
  border: 3px dotted rgba(255, 255, 255, 0.5);
  text-align: center;
  vertical-align: middle;
}

@keyframes animation {
  
  0% {
    border-radius: 4vw 4vw 4vw 4vw;
    width: 2vw; 
    height: 2vw;
    left: 49vw; 
    top: 11vw;
  }
  
  50% {
    border-radius: 28vw 28vw 28vw 28vw;
    width: 14vw; 
    height: 14vw;
    left: 43vw; 
    top: 5vw;
  }
  
  100% {
    border-radius: 4vw 4vw 4vw 4vw;
    width: 2vw; 
    height: 2vw;
    left: 49vw; 
    top: 11vw;
  }

}
