<div class="theDarkness">

  <div class="centerMessage textMedium">
    <img style="width: 10vw; height: auto;" src="/assets/images/trophy_large.png"><br>
    High Scores
  </div>

  <div class="table textSmall">

    <div class="row"> 
      <div class="firstCell header">Place</div>
      <div class="secondCell header">Highscore</div>
      <div class="thirdCell header">Playername</div>
    </div>

    <div class="row" *ngFor="let score of getHighscores()"> 
      <div class="firstCell">{{score.index}}</div>
      <div class="secondCell">{{score.player.score}}</div>
      <div *ngIf="score.isPlayerOne" class="thirdCell greenText">{{score.player.name}}</div>
      <div *ngIf="score.isPlayerTwo" class="thirdCell redText">{{score.player.name}}</div>
      <div *ngIf="!score.isPlayerOne && !score.isPlayerTwo" class="thirdCell">{{score.player.name}}</div>
    </div>

  </div>

  <div class="bottom" [hidden]='hideCountdown()'>
    <p class="textSmall">continuing in</p>
    <p class="textMedium">00:0{{countDownValue}}</p>
  </div>

  <div class="bottom" [hidden]='!hideCountdown()'>
    <p class="textSmall">press a button to continue</p>
  </div>


</div>